<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060424104779-jfs8errh8jg1hvd4hvocbfr1r9203hmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060424104779-jfs8errh8jg1hvd4hvocbfr1r9203hmk</string>
	<key>API_KEY</key>
	<string>AIzaSyA83EYFj0dB0mbuFNAjUXv8VSQSazkgt-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1060424104779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GavinWong.EasyChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-578c5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-578c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060424104779:ios:c27e7f0a87ccc4c93a06ce</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-578c5.firebaseio.com</string>
</dict>
</plist>